<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="question" placeholder="Your question">
  <input type="submit" value="Go on!">
</form>
